<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" (ngSubmit)="submitSettings()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Company Name</label>
              <input type="text" class="form-control" name="company_name" [(ngModel)]="settings.company_name">
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Footer Signature</label>
              <input type="text" class="form-control" name="footer_signature" [(ngModel)]="settings.footer_signature">
            </div>

            <!-- Image Upload -->
            <div class="col-md-12 mb-3">
              <label class="form-label">Reports Logo</label>
              <input type="file" class="form-control" (change)="onFileSelected($event)">

              <!-- Image Preview -->
              <div class="mt-3" *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Avtar" class="img-thumbnail" style="max-width: 150px;">
              </div>
            </div>
        
            <!-- Form Actions -->
            <div class="col-12 mt-3">
              <button type="submit" [disabled]="isLoading" class="btn btn-primary">Save Changing</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>